<!DOCTYPE html>
<html>
<head>
  <title>Hangperson Game - You Win!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <h1>Congratulations, you won!</h1>
  <p>The word was: <%= @game.word %></p>
  <a href="/" class="btn btn-primary">Start a new game</a>
</body>
</html>

<%= erb :new %>
